/* ---------- Dark Mode Styles --------- */
body[dark-mode] {
  color: $white;
  background-color: #000;
}

body[dark-mode] {
  hr {
    color: $gray-800;
  }

  footer {
    border-top-color: $gray-800;
  }

  .footer-nav a, .footer-social a {
    color: $white;
  }
  
  .navbar {
    background-color: $black;
    box-shadow: 0 0 32px 0 rgba(0,0,0,0.64);
    border: 1px solid $gray-800;
    border-left: none;
  }
  
  .navbar-brand a, .navbar .navbar-nav .nav-link,
  .navbar-brand a, .navbar .navbar-nav a.dropdown-item {
    color: $white !important;
  }
  
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .dropdown-menu a.dropdown-item:hover, 
  .navbar .navbar-nav .nav-link.active {
    color: $primary !important;
  }
  
  .navbar .bg-dark {
    color: $black;
    background-color: $white;
  }
  
  @media (max-width: 1023px) {    
    .navbar {
      background-color: $black;
      border: none;
      border-bottom: 1px solid $gray-800;
      position: sticky;
      top: 0;
      width: 100%;
    }
    
    .navbar-brand a, .navbar .navbar-nav .nav-link {
      color: $white;
    }
  }
  
  .navbar-light .navbar-toggler-icon {
    filter: invert(1);
  }

  .search-bar .form-control,
  .search-bar .form-control:focus,
  .search-bar-results,
  .search-bar .btn {
    background-color: $black;
    box-shadow: 0 0 32px 0 rgba(0,0,0,0.64);
    border: 1px solid $gray-800;
    color: $white;
  }
  
  .results-wrap {
    border-bottom: 1px solid $gray-700;
  }
  
  .results-wrap:hover,
  .results-wrap:hover a,
  .results-wrap:hover p {
    background-color: $blue-500;
    color: $black;
  }
  
  .search-bar-results a,
  .search-bar p {
    color: $white;
  }
  
  .results-wrap:last-of-type {
    border-bottom: none;
  }
  
  .breadcrumb {
    border-top: 1px solid $gray-800;
    border-bottom: 1px solid $gray-800;
    color: $gray-500;
  }
  
  .landing-hero .display-1 a {
    color: $white;
  }
  
  .box {
    border: 1px solid $gray-800;
  }

  .box a:not(.btn) {
    color: $white;
  }

  .box, .form-control {
    border: 1px solid $gray-800;
  }

  .form-control, .form-control:focus, .form-control::placeholder {
    color: $white;
  }

  .divider {
    border-bottom: 1px solid $gray-800;
  }

  blockquote, pre {
    background-color: $black;
  }
  
  .btn-outline-dark {
    color: $white;
    border-color: $white;
    background-color: transparent;
  }
  
  .btn-outline-dark:hover {
    color: $black;
    border-color: $white;
    background-color: $white;
  }
  
  .btn-primary:disabled, .btn-primary.disabled {
    opacity: 1;
  }
}