// Custom Font Size CSS Classes (#notbootstrap)
.font-size-1200 { font-size: 4rem !important; }      // 56px
.font-size-1100 { font-size: 3rem !important; }      // 48px
.font-size-1000 { font-size: 2.5rem !important; }    // 40px
.font-size-900  { font-size: 2rem !important; }      // 32px
.font-size-800  { font-size: 1.75rem !important; }   // 28px
.font-size-700  { font-size: 1.5rem !important; }    // 24px
.font-size-600  { font-size: 1.25rem !important; }   // 20px
.font-size-500  { font-size: 1rem !important; }      // 16px
.font-size-400  { font-size: 0.9375rem !important; } // 15px
.font-size-300  { font-size: 0.875rem !important; }  // 14px
.font-size-200  { font-size: 0.8125rem !important; } // 13px
.font-size-100  { font-size: 0.75rem !important; }   // 12px
.font-size-000  { font-size: 0.625rem !important; }  // 10px

// Custom Font Size SCSS Variables (#notbootstrap)
$font-size-1200: 4rem !default;      // 56px
$font-size-1100: 3rem !default;      // 48px
$font-size-1000: 2.5rem !default;    // 40px
$font-size-900:  2rem !default;      // 32px
$font-size-800:  1.75rem !default;   // 28px
$font-size-700:  1.5rem !default;    // 24px
$font-size-600:  1.25rem !default;   // 20px
$font-size-500:  1rem !default;      // 16px
$font-size-400:  0.9375rem !default; // 15px
$font-size-300:  0.875rem !default;  // 14px
$font-size-200:  0.8125rem !default; // 13px
$font-size-100:  0.75rem !default;   // 12px
$font-size-000:  0.625rem !default;  // 10px

/* ---------- Bradstrap v4 Global Updates --------- */
// 8pt Grid System
$grid-gutter-width:     32px !default;
$container-max-widths:  (sm: 480px, md: 736px, lg: 992px, xl: 1200px) !default;
$grid-breakpoints:      (xs: 0, sm: 512px, md: 768px, lg: 1024px, xl: 1200px ) !default;

// Updating Base Colors (I don't believe in false greys.)
$white:    #fff !default;
$gray-100: #fafafa !default; $gray-200: #eeeeee !default; $gray-300: #dddddd !default;
$gray-400: #cccccc !default; $gray-500: #777777 !default; $gray-600: #555555 !default;
$gray-700: #555555 !default; $gray-800: #333333 !default; $gray-900: #121212 !default;
$black:    #000 !default;

$blue:    #2AC9FF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #EC4964 !default;
$orange:  #FF8C42 !default;
$yellow:  #FFCA3D !default;
$green:   #55FF7F !default;
$teal:    #20c997 !default;
$cyan:    #85BFFF !default;

$primary:       $blue !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $cyan !default;
$highlight:     $yellow !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $black !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "highlight":  $yellow,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Link Variables
$link-color:                              darken($primary, 12%) !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 16%) !default;
$link-hover-decoration:                   underline !default;

// Navbar Variables
$navbar-light-brand-color:          $black;
$navbar-light-color:                $black;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       rgba($gray-800, .3);
$navbar-light-toggler-border-color: transparent;

// HR Tweaks
$hr-color:                    $gray-200 !default;
$hr-opacity:                  1 !default;

