/* ---------- Bradstrap v4 Global Updates --------- */
// 8pt Grid System
$grid-gutter-width:     32px !default;
$container-max-widths:  (sm: 480px, md: 736px, lg: 992px, xl: 1200px) !default;
$grid-breakpoints:      (xs: 0, sm: 512px, md: 768px, lg: 1024px, xl: 1200px ) !default;

// Updating Base Colors (I don't believe in false greys.)
$white:    #fff !default;
$gray-100: #fafafa !default; $gray-200: #eeeeee !default; $gray-300: #dddddd !default;
$gray-400: #cccccc !default; $gray-500: #777777 !default; $gray-600: #555555 !default;
$gray-700: #555555 !default; $gray-800: #333333 !default; $gray-900: #121212 !default;
$black:    #000 !default;

$blue:    #2AC9FF !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #EC4964 !default;
$orange:  #FF8C42 !default;
$yellow:  #FFCA3D !default;
$green:   #55FF7F !default;
$teal:    #20c997 !default;
$cyan:    #85BFFF !default;

$primary:       $blue !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $cyan !default;
$highlight:     $yellow !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $black !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "highlight":  $yellow,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Link Variables
$link-color:                              darken($primary, 12%) !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 16%) !default;
$link-hover-decoration:                   underline !default;

// Navbar Variables
$navbar-light-brand-color:          $black;
$navbar-light-color:                $black;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       rgba($gray-800, .3);
$navbar-light-toggler-border-color: transparent;

// HR Tweaks
$hr-color:                    $gray-200 !default;
$hr-opacity:                  1 !default;

